@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Color Variables */
  --primary: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  --secondary: #f59e0b;
  --accent: #10b981;
  --muted: #9ca3af;
  --scroll-size: 5px;
  --scroll-radius: 0px;
  --scroll-track: rgba(255, 255, 255, 0.1);
  --scroll-thumb-color: rgba(0, 0, 0, 0.8);
  /* Text & Background */
  --background: rgba(48, 44, 66, 1);
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; /* Ensure the background covers the entire viewport height */
}

.textPrimary {
  color: var(--primary);
}

.textSecondary {
  color: var(--secondary);
}

.textAccent {
  color: var(--accent);
}

.textMuted {
  color: var(--muted);
}

.bgPrimary {
  background-color: var(--primary);
}

.bgSecondary {
  background-color: var(--secondary);
}

.bgAccent {
  background-color: var(--accent);
}

.bgMuted {
  background-color: var(--muted);
}

@supports not (selector(::-webkit-scrollbar-thumb)) {
  body {
    scrollbar-color: var(--scroll-thumb-color) var(--scroll-track);
    scrollbar-width: thin;
  }
}

::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
  border-radius: var(--scroll-radius);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: var(--scroll-radius);
}
