.nav {
  height: 90px;
  width: 100vw;
  position: fixed;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 25px 20px;
  /* margin: 0px 0px 25px 0px; */
  background: transparent;
  backdrop-filter: blur(16px);
}

/* Note: backdrop-filter has minimal browser support */
.name {
  width: 45px;
  height: 28px;
}
.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
  color: black;
  list-style: none;
}
.logo_container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burgerMenu {
  height: 26px;
  width: 33px;
  color: white;
}
.logo {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.ring {
  width: auto;
  height: 100%;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.bottle {
  width: 70px;
  height: 60px;
}

.prod {
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
}
.links a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 550;
}
.burg_cont {
  display: flex;
}
.inner_list {
  /* display: none; */
  width: 200px;
  font-size: 1rem;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 30px;
  background-color: aliceblue;
  list-style: none;
  transition: 0.5s ease-in-out;
}
.prod:hover.prod > ul {
  height: auto;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.arrow {
  margin-left: 10px;
  transition: 0.5s ease-in-out;
}
.prod:hover.prod > .arrow {
  transform: rotate(-90deg);
}
.list_item {
  margin: 20px;
  font-size: 1rem;
  position: relative;
}
.list_item > a {
  font-size: initial;
}
.list_item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #000;
  transition: 0.5s ease-in-out;
}
.list_item:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #000;
}
.link_a {
  padding: 0px 20px;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.inner_list > ul {
  list-style: none;
}

.logo_name {
  color: black;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.align {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.active {
  position: relative;
  display: inline-block;
  color: #2f76ff;
  font-weight: 500;
}

/* .active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
} */

@media only screen and (min-width: 1068px) {
  .bottle {
    width: 90px;
    height: 80px;
  }
  .nav {
    height: 130px;
    width: 100vw;
    position: fixed;
    display: flex;
    z-index: 1000;
    align-items: center;
    padding: 50px 80px 50px 80px;
    background: transparent;
    backdrop-filter: blur(16px);
    justify-content: space-around;
  }
  .links {
    display: flex;
    color: var(--primary-font-color);
    justify-content: center;
  }
  .burg_cont {
    display: none;
  }
  .logo {
    display: flex;
    flex-direction: row;
  }
  .align {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name {
    height: 100px;
    width: 60px;
  }
}

.btncon {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-left: 20px;
}
.login {
  padding: 7.93041px 19.033px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.login:hover {
  cursor: pointer;
}

.signup {
  color: white;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7.93041px 19.033px;
  background: #2f76ff;
  border-radius: 2px;
  border: none;
}
